<hr>
<div class="row">
    <div class="col-md-4">
        <h1>{{productsText}}</h1>
        <ul class="list-group" *ngIf="products.length>0">
            <li class="list-group-item" *ngFor="let product of products">
                {{product}}
            </li>
        </ul>
        <h1>{{fruitsText}}</h1>
        <ul class="list-group" *ngIf="fruits.length>0">
            <li class="list-group-item" *ngFor="let fruit of fruits">
                {{fruit}}
            </li>
        </ul>
        <hr>
        <h1>{{colorsText}}</h1>
        <ul class="list-group" *ngIf="colors.length>0">
            <li class="list-group-item" *ngFor="let color of colors">
                {{color}}
            </li>
        </ul>
        <hr>
        <h1>{{citiesText}}</h1>
        <ul class="list-group" *ngIf="products.length>0">
            <li class="list-group-item" *ngFor="let fruit of fruits">
                {{fruit}}
            </li>
        </ul>
        <hr>
        <h1>{{fruitsText}}</h1>
        <ul class="list-group" *ngIf="cities.length>0">
            <li class="list-group-item" *ngFor="let city of cities">
                {{city}}
            </li>
        </ul>
        <hr>
        <h1>{{subjectsText}}</h1>
        <ul class="list-group" *ngIf="subjects.length>0">
            <li class="list-group-item" *ngFor="let subject of subjects">
                {{subject}}
            </li>
        </ul>
        <hr>
        <h1>{{vehiclesText}}</h1>
        <ul class="list-group" *ngIf="vehicles.length>0">
            <li class="list-group-item" *ngFor="let vehicle of vehicles">
                {{vehicle}}
            </li>
        </ul>
        <hr>
        <h1>{{animalsText}}</h1>
        <ul class="list-group" *ngIf="animals.length>0">
            <li class="list-group-item" *ngFor="let animal of animals">
                {{animal}}
            </li>
        </ul>
        <hr>
        <h1>{{sportsText}}</h1>
        <ul class="list-group" *ngIf="sports.length>0">
            <li class="list-group-item" *ngFor="let sport of sports">
                {{sport}}
            </li>
        </ul>
        <hr>
        <h1>{{countriesText}}</h1>
        <ul class="list-group" *ngIf="countries.length>0">
            <li class="list-group-item" *ngFor="let country of countries">
                {{country}}
            </li>
        </ul>
        <hr>
        <h1>{{languagesText}}</h1>
        <ul class="list-group" *ngIf="languages.length>0">
            <li class="list-group-item" *ngFor="let lang of languages">
                {{lang}}
            </li>
        </ul>
    </div>
</div>